@media (max-width: 768px){
  .promo{
    &__wrapper{
      align-items: center;
    }
  }
  .consultation{

    .container{
      display: flex;
      flex-direction:column;
      align-items: center;
      .title_left{
      text-align: center;
      }
      .consultation__descr{
        text-align: center;
      }
    }
  }

}
@media (max-width: 425px) {
  .promo{
    .header{
      flex-direction: column;
      &__logo{
        margin-bottom: 10px;
      }
      &__official{
        margin-bottom: 10px;
      }
      &__contacts{
        .button{
          width: 300px;
          height: 50px;
          font-size: 22px;
        }
      }
      &__phone{
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }
    &__wrapper{
      text-align: center;
    }
    &__icons{
      padding: 0 15px;
      width: 100%;
    }
  }
  .advantages{
    &__wrapper{
      align-items: center;
      flex-direction: column;
    }
  }
  .catalog{
    &__tab{
      font-size: 12px;
      width: 118px;
    }
    &__content{
      display: flex;
      justify-content: center;
    }
  }
  .feed{
    &__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      img{
        display: block;
        margin-bottom: 12px;
      }
    }
    &__text{
      display: block;
    }
  }
  .modal{
    &__close{
      right: 10px;
      top: 18px;
    }
  }
}
@media (max-width: 375px) {
  .catalog{
    &__tabs{
      margin-top: 35px;
      display: flex;
      flex-direction: column;
    }
    &__tab{
      width: 255px;
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  .footer{
    &__info{
      padding: 50px 0 60px 0;
      width: 100%;
    }
  }
  .modal{
    &__close{
      right: 45px;
      font-size: 40px;
      top: 10px;
    }
  }
}